html {
    font-size: 100px; /*640PX 1REM=100PX*/
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main {
    position: relative;
    margin: 0 auto;
    max-width: 640px;
    height: 100%;
    background: url("../img/zf_cubeBg.jpg") no-repeat center center;
    background-size: cover;

    /*3D->给舞台设置视距*/
    perspective: 2000px;
}

.cubeBox {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -2.55rem 0 0 -2.55rem;
    width: 5.1rem;
    height: 5.1rem;

    /*3D->给盒子设置3D变形*/
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

    /*3D->给盒子一个初始的角度,让其可以看到其余的几个面*/
    -webkit-transform: scale(0.6) rotateX(30deg) rotateY(-45deg);
    transform: scale(0.6) rotateX(30deg) rotateY(-45deg);

}

.cubeBox li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cubeBox li img {
    width: 100%;
    height: 100%;
}

/*3D->移动每一个面*/
.cubeBox li:nth-child(1) {
    -webkit-transform: translateZ(2.55rem);
    transform: translateZ(2.55rem);
}

.cubeBox li:nth-child(2) {
    -webkit-transform: translateZ(-2.55rem) rotateY(180deg);
    transform: translateZ(-2.55rem) rotateY(180deg);
}

.cubeBox li:nth-child(3) {
    -webkit-transform: translateX(-2.55rem) rotateY(-90deg);
    transform: translateX(-2.55rem) rotateY(-90deg);
}

.cubeBox li:nth-child(4) {
    -webkit-transform: translateX(2.55rem) rotateY(90deg);
    transform: translateX(2.55rem) rotateY(90deg);
}

.cubeBox li:nth-child(5) {
    -webkit-transform: translateY(-2.55rem) rotateX(90deg);
    transform: translateY(-2.55rem) rotateX(90deg);
}

.cubeBox li:nth-child(6) {
    -webkit-transform: translateY(2.55rem) rotateX(-90deg);
    transform: translateY(2.55rem) rotateX(-90deg);
}




